.jumbotron.grey-jumbotron
  %center
    %h1
      User Stories
    %p.text-muted.text-justify
      The stories used to build this application were written in a user story format. If you are not familiar with this format of story writing for agile methodologies you can take a look at 
      = link_to 'this link.', 'http://www.mountaingoatsoftware.com/agile/user-stories'
    %p.text-muted.text-justify
      You should read through the whole acceptance criteria and perform the Quality Assurance on this application accordingly. Automated tests scenarios must be written for the stories, and it is your responsibility to come up with all the scenarios you can based on the story's acceptance criteria. 
    %p.text-muted.text-justify	
      If you find any bugs, they should be reported on 
      = link_to 'this link.', 'www.google.com'
      They should have a summary, a description, and its desirable that you are able to point what is the possible cause of this bug. It should also be prioritized accordingly.
      Be sure to be very clear when you are reporting a bug, buy entering the steps to reproduce it, expected results and also actual results.
    %p
      You should also deliver a PDF document describing what steps you used for testing the application, any other kinds of tests that you suggest for this app (including non-functional tests) and if you suggest any tools to automate those.
    %p
      Good luck!
    %p
      =link_to 'Click here to get the user story document', '/UserStories.pdf', {:class => 'btn btn-primary btn-lg'}
