.modal-header
  %h3.modal-title Editing Task {{task.id}}
.modal-body
  %h4 Todo:
  %form{:name => "sub_task_form"}
    %textarea#edit_task.form-control{:name => "edit_task", "ng-model" => "task.body", :required => "required", :type => "textarea", "maxlength" => "254"}
  .panel.panel-default
    .panel-heading Create a SubTask
    .panel-body
      %form{:name => "sub_task_form"}
        .form-group
          %label{:for => "new_sub_task"} SubTask Description:
          %input#new_sub_task.form-control{:name => "new_sub_task", "ng-model" => "subTask.body", :placeholder => "Type a new SubTask here and press enter", :type => "text", "maxlength" => "254"}
        .form-group  
          %p.input-group
            %label{:for => "dueDate"} Due Date:
            %input#dueDate.form-control{name: "due_date", "ng-model" => "subTask.due_date", type: "text", placeholder: "MM/dd/yyyy"}
        .form-group
          %button.btn.btn-primary#add-subtask{href: "#", "ng-click" => "saveSubTask()"} 
            %span.glyphicon.glyphicon-plus
            Add


  %div{'ng-show' => 'task.sub_tasks.length'}
    %h4 SubTasks of this ToDo:
    %table.table
      %thead
        %tr
          %th Done
          %th SubTask
          %th Remove SubTask
      %tbody
        %tr{'ng-repeat' => 'sub_task in task.sub_tasks', 'ng-class' => "{'success': sub_task.completed}"}
          %td.col-md-1
            %input{type: 'checkbox',  'ng-model' => 'sub_task.completed', 'ng-click'=> 'toggleCompleted(sub_task)', "maxlength" => "254"}
          
          %td.task_body.col-md-8
            %a{"editable-text" => "sub_task.body", :href => "#", onbeforesave: "checkBody($data)", onaftersave: "updateSubTask(sub_task)"} {{ sub_task.body || "empty" }}

          %td
            %button.btn.btn-xs.btn-danger{ 'ng-click'=> 'removeSubTask(sub_task)' } Remove SubTask 
.modal-footer
  %button.btn.btn-primary{"ng-click" => "close()"} Close